*{
	margin: 0px;
	padding: 0px;
}
/*-шрифт sans-serif*/
header .logo h5,
header nav ul li,
article .Mobile .Mobile_contextMobile,
article aside ul li,
article .contextMobile span.contextMobile_header,
article .contextMobile span.contextMobile_context
{
	font-family: sans-serif;
}
/*размер текста 25pt*/
article .Mobile .Mobile_contextMobile h2,
article .contextMobile span.contextMobile_header
{
	font-size: 25pt;
}
/*размер текста 12pt*/
article aside ul li span,
article .contextMobile span.contextMobile_context
{
	font-size: 12pt;
}
/*цвет #ffffff;*/
header nav ul li:hover,
article .Mobile .Mobile_contextMobile h2 span,
article .Mobile .Mobile_contextMobile div,
article .Mobile .Mobile_contextMobile a:hover,
article .Mobile .Mobile_contextMobile ul li,
article .contextMobile span.contextMobile_header,
article .contextMobile span.contextMobile_context,
article .contextMobile a:hover
{
	color: #ffffff;
}
/*отображение в виде блока*/
header nav ul li img,
article .Mobile .imageMobile img.highlight,
article .Mobile .Mobile_contextMobile a,
article .contextMobile span.contextMobile_header,
article .contextMobile span.contextMobile_context,
footer span
{
	display: block;
}
/*выравнивание по правому краю*/
header nav,
article .Mobile .Mobile_contextMobile,
article .contextMobile,
article .contextMobile a
{
	float: right;
}
/*выравнивание по левому краю*/
header .logo,
header nav ul li,
article aside,
article aside ul li img,
article .contextMobile ul.contextMobile_img li,
article .Mobile .imageMobile
{
	float: left;
}
/*выравнивание по центру*/
.site,
header nav ul li img,
article .Mobile .imageMobile img.highlight
{
	margin: auto;
}
/*стиль списков*/
article aside ul,
article .contextMobile ul.contextMobile_img
{
	list-style: none;
}
/*декорации сылок*/
article .Mobile .Mobile_contextMobile a,
article .contextMobile a
{
	text-decoration: none;
}
/*курсор default*/
header .logo h5,
header nav ul li,
article aside ul li
{
	cursor: default;
}
/*курсор pointer*/
header nav ul li:hover,
article aside ul li:hover
{
cursor: pointer;
}
body{
	background-color: #0a0a0a;
}
.site{
	width: 1200px;
}
/*------------------
	стиль для header
--------------------*/
header{
	height: 80px;
	background: linear-gradient(to bottom, #202123, #070707);
	padding: 30px 0px 0px 130px;	 
}
/*Логотип*/
header .logo{
	width: 195px;
}
/*Подпись под логотипом*/
header .logo h5{
	position: absolute;
	top: 60px;
	padding-left: 3px;
	font-size: 10pt;
	color: #7c7c7c;
}
/*меню*/
header nav{
	padding-top: 5px;
	padding-right: 50px;
}
header nav ul{
	list-style-type: none;
}
header nav ul li{
	margin-right: 40px;
	color: #0c9bdd;
	font-size: 18px;
}
/*---------------------------
	стиль для article .Mobile
-----------------------------*/
/*фон*/
article{
	height: 770px;
}
article section.Mobile{	
	height: 343px;
	background-image: url(../img/pattern.png);
}
/*imageMobile*/
article .Mobile .imageMobile{
	width: 315px;
	padding: 19px 0px 0px 130px;
}
article .Mobile .imageMobile .front{
	height: 212px;
	background-image: url(../img/front.png);
	padding: 88px 0px 0px 59px;
}
article .Mobile .imageMobile img.highlight{
	opacity: 0.8;
}
/* контекст Your Mobile App*/
article .Mobile .Mobile_contextMobile{
	width: 630px;
	height: 290px;
	padding-right: 65px;
	padding-top: 30px;
}
article .Mobile .Mobile_contextMobile h2 span{
	font-weight: bold;
}
article .Mobile .Mobile_contextMobile a{
	width:125px;
	padding-left: 10px;
	margin-top: 20px;
	color:#000000;
}
article .Mobile .Mobile_contextMobile ul{
	margin-top: 20px;
	padding-left: 20px;
	list-style-image: url(../img/bullets.png);
}
article .Mobile .Mobile_contextMobile ul li{
	margin-bottom: 10px;
}
/*Line*/
article .line{
	width: 100%;
	height: 2px;
	background-image: url(../img/line.gif); 
}
/*---------------------------
	стиль для aside
-----------------------------*/
article aside{
	width: 310px;
	height: 390px;	
	padding: 35px 10px 0px 140px;
	background-color: #0c0c0c;
}
article aside ul li{
	font-size: 14pt;
	color: #0c9adc;
	height: 100px;
	padding-bottom: 35px;
}
article aside ul :last-child{
	padding-bottom: 0px;
}

article aside ul li img{
	margin-right: 15px;
}
article aside ul li span{
	color: #8f8f8f;
}
/*----------------------
	стиль для contextMobile
------------------------*/
article .contextMobile{
	width: 645px;
	height: 425px;
	padding-right: 95px;
	background: radial-gradient(at top left, #121111, #0a0a0a);
}
article .contextMobile span.contextMobile_header,
article .contextMobile span.contextMobile_context,
article .contextMobile ul.contextMobile_img{
	margin-left: 30px;
}
article .contextMobile .contextMobile_line{
	width: 1px;
	height: inherit;
	background-color: #000000;
	margin-left: 1px;
	float:left;
}
article .contextMobile span.contextMobile_header{
	padding-top: 40px;
	margin-bottom: 20px;
}
article .contextMobile span.contextMobile_header span{
	font-weight: bold;
}

article .contextMobile ul.contextMobile_img{
	display: inline-block;
	margin-top: 30px;
}
article .contextMobile ul.contextMobile_img li{
	margin-right: 19px;
}
article .contextMobile ul.contextMobile_img :last-child{
	margin-right: 0px;
}
article .contextMobile ul.contextMobile_img li div{
	width: 129px;
	height: 129px;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 10px;
}
article .contextMobile a{
	color: #0c9adc;
	margin-top: 15px;
}
/*----------
	footer
------------*/
footer span{
	width: 200px;
	margin:auto;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #8f8f8f;
}